body{
font-family:Arial;
background:#f4f4f4;
padding:20px;
}

.menu{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.item{
background:white;
padding:15px;
border-radius:10px;
}

button{
background:#4CAF50;
color:white;
border:none;
padding:10px;
border-radius:6px;
}

.cart{
margin-top:20px;
width:100%;
}